/* Default Light Theme */
:root {
  --primary-color: #A8E6CF; /* Mint Green */
  --secondary-color: #FFD3B6; /* Light Peach */
  --accent-color: #FF8B94; /* Soft Coral */
  --background-color: #FFFFFF; /* Background White */
  --text-color: #333333; /* Dark Grey Text */
  --muted-text-color: #757575; /* Muted Grey Text */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dark Theme */
.dark-theme {
  --background-color: #2C2C2C;
  --text-color: #EAEAEA;
  --muted-text-color: #B0B0B0;
  --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

/* Automatically apply dark mode if system prefers */
@media (prefers-color-scheme: dark) {
  :root:not(.light-theme) {
    --background-color: #2C2C2C;
    --text-color: #EAEAEA;
    --muted-text-color: #B0B0B0;
    --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }
}
