body {
  font-family: 'Courier Primes', monospace, sans-serif;
  color: var(--text-primary);
  line-height: 1.5;
  margin: 1rem;
  padding: 0;
 
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--bg-dark);
  margin-top: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}


/* Basic Reset */


ul.menu {
  list-style: none; /* Remove default bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Arrange items horizontally */
  background-color: var(--bg-dark); /* Dark background */
  border-radius: 50px; /* Round corners of the entire menu */
  overflow: hidden; /* Ensure children respect the parent’s rounded corners */
  width: fit-content;
}

ul.menu li {
  margin: 0;
}

ul.menu li a {
  display: block;
  padding: 15px 20px; /* Add spacing */
  color: var(--text-secondary); /* Text color */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth hover effect */
  
}

ul.menu li a:hover {
  background-color: var(--bg-light); /* Change background on hover */
}

ul.menu li a.active {
  background-color: var(--primary-color); /* Highlight active menu item */
  color: var(--text-secondary);
}

/* Responsive Design */
@media (max-width: 768px) {
  ul.menu {
    width: auto;
    flex-direction: column; /* Stack items vertically */
  }

  ul.menu li a {
    text-align: center; /* Center-align text for small screens */
  }
}

