
body {
  width: 90vw;
  margin: auto;
  padding: 0;
  font-family: 'Courier Primes', monospace, sans-serif;
  color: var(--text-primary);}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--bg-dark);
  margin-top: 1rem;
}



/* Menu */


ul.menu {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  background-color: var(--bg-dark); 
  border-radius: 16px; 
  overflow: hidden;
}

ul.menu li {
  margin: 0;
}

ul.menu li a {
  display: block;
  padding: 15px 20px; 
  color: var(--text-secondary);
  text-decoration: none; 
  transition: background-color 0.3s; 
  
}

ul.menu li a:hover {
  background-color: var(--gray-dark); 
} 

ul.menu li a.active {
  background-color: var(--primary-color);
  color: var(--text-secondary);
}

/* Responsive Menu */
@media (max-width: 768px) {
  ul.menu {
    width: auto;
    flex-direction: column; 
  }

  ul.menu li a {
    text-align: center;
  }
}

/* orginal remake css */

a {
  color: var(--primary-color);
  text-decoration: none;
}

pre {
  padding: 10px;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* own class css */

.latest-date, .latest-title{
  margin: 0;
}

.featured-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}