<div class="featured-banner">
  {{ $image := "" }}

  {{ if .Params.featured_image }}
    {{ $image = .Params.featured_image | absURL  }}
  {{ else if .Parent }}
    {{ if .Parent.Params.featured_image }}
      {{ $image = .Parent.Params.featured_image | relURL }}
    {{ end }}
  {{ else if .Site.Params.featured_image }}
    {{ $image = .Site.Params.featured_image | absURL }}
  {{ end }}

  {{ with $image }}
    <img 
        src="{{ . }}" 
        alt="{{ $.Title }}" 
        class="w-full h-64 object-cover"
        loading="lazy"
    >
  {{ end }}
</div>
