{{ define "main" }}



  {{ .Content }}

  {{ range .Site.RegularPages }}

    <div class="latest-posts">
     <!-- Qrcode-->
     <div class="latest-qrcode">{{ printf "{{< qr targetDir=images/qrcodes scale=6 text=\"%s\" />}}" .Permalink | markdownify }}</div> 



    <div class="latest-content">
    <!-- Page Title -->
    <h2 class="latest-title">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>

    <!-- Page Date (Fallback if missing) -->
    <p class="latest-date">
      {{ with .Params.date }}
        {{ .Format "Jan 2, 2006" }}
      {{ else }}
        {{ .Date.Format "Jan 2, 2006" }}
      {{ end }}
    </p>

    <!-- Summary (Fallback if missing) -->
    <p class="latest-summary">{{ .Params.Summary | default "No summary available." }}</p>
    </div>
  </div>

  {{ end }}
{{ end }}
